body
{
	font-family: Trebuchet MS, Arial, sans-serif; 
	font-size:14px;
	padding-left:20px;
	padding-right:20px;
}

h1
{
	font-size:20px;
}

h2
{
/*	border-top:1px solid rgb(128,128,128); */
	font-size:16px;
}

h3
{
	font-size:14px;
}

.explanation
{
	color: rgb(128,128,128);
}

/* Default for all images. We do this in CSS because
   border="0" is deprecated in XHTML. Without a 0 width
   border we get a blue box around images in Firefox and IE */
img
{
	border: 0px;
}

/* Search box */
#search
{
	font-size:18px; 
	background-image:url(../images/search.png);
	background-position-x: 0%;
	background-position-y: 50%;
	background-repeat: no-repeat;
	padding-left: 16px;
	border: 1px solid rgb(192,192,192);
}


/* Links */
a 
{ 
      color: #2D7BB2; 
      text-decoration: none; 
      font-weight: bold; 
}
    
a:hover 
{ 
      color: #333; 
}

/* Identifiers */
ul.guid-list
{
	padding: 0;
	list-style: none; 	
}

li.guid-list  
{
}

.blank
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
}

.gbif
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/gbif.png") no-repeat 0 50%;
}

.permalink 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/link.png") no-repeat 0 50%;
}

.mendeley 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/icon_mendeley_16x16.gif") no-repeat 0 50%;
}

.bhl 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/bhl.png") no-repeat 0 50%;
}

.doi 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/doi.png") no-repeat 0 50%;
}

.pmid 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/ncbi.png") no-repeat 0 50%;
}

.handle 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/handle.png") no-repeat 0 50%;
}

.lsid 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/lsid.png") no-repeat 0 50%;
}

.pdf 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/page_white_acrobat.png") no-repeat 0 50%;
}

.url 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/world_go.png") no-repeat 0 50%;
}

.worldcat 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/Worldcat16x16.png") no-repeat 0 50%;
}

/* Export */
ul.export-list
{
	padding: 0;
	list-style: none; 	
}

li.export-list  
{
}

.xml 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/page_white_code.png") no-repeat 0 50%;
}

.ris 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/page_white.png") no-repeat 0 50%;
}

.bibtex 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/page_white.png") no-repeat 0 50%;
}

.text 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/page_white_text.png") no-repeat 0 50%;
}

.bibjson
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/json.png") no-repeat 0 50%;
}

.wikipedia
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/page_white_text.png") no-repeat 0 50%;
}


/* Reference types */
ul.reference-list
{
	padding: 0;
	list-style: none; 	
}

li.reference-list  
{
	
}

.act 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/star.png") no-repeat 0 50%;
  border-bottom:1px dotted rgb(228,228,228);
}

.default 
{
  margin-left: 3px;
  padding: 2px 2px 2px 19px;
  background: url("/images/page_white.png") no-repeat 0 50%;
  border-bottom:1px dotted rgb(228,228,228);
}


/* data entry form */
.field_name
{
	text-align:right;
	color: rgb(63,63,63);
	font-weight:bold;
	font-size:12px;
}
.field_value
{
	font-family: Arial;
	font-size:12px;
	border: 1px solid rgb(128,128,128);
}

/* OpenURL form */
.openurl_field_name
{
	text-align:right;
	color: rgb(63,63,63);
	font-weight:bold;
	font-size:12px;
	width:100px;
}

textarea
{
	font-family: Arial;
	font-size:12px;
}

/* tag tree */


/* From http://www.alistapart.com/articles/accessibledatavisualization/ */
.chartlist li { 
  position: relative;
  display: block; 
  border-bottom: 1px solid #EEE; 
}

.chartlist .count { 
  display: block; 
  position: absolute; 
  top: 0; 
  right: 0; 
  margin: 0 0.3em; 
  text-align: right; 
  color: #999; 
  font-weight: bold; 
  font-size: 0.875em; 
}

.chartlist li a { 
  display: block; 
  padding: 0.4em 4.5em 0.4em 0.5em;
  position: relative; 
  z-index: 2; 
}
.chartlist .index { 
  display: block; 
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100%; 
  background: #B8E4F5; 
  text-indent: -9999px; 
  overflow: hidden; 
}

.chartlist li:hover { 
      background: #EFEFEF; 
    }
    
   /* TIMELINE CHARTS */
    .timeline { 
    list-style-type: none;
      font-size: 0.75em; 
      height: 10em; 
     /* width: 53em;*/
    }
    .timeline li { 
      position: relative;
      float: left;
      width: 3.0em; 
      margin: 0 0.1em;
      height: 8em; 
    }
    .timeline li a { 
      display: block;
      height: 100%;  
    }
    .timeline li .label { 
      display: block; 
      position: absolute; 
      bottom: -2em; 
      left: 0; 
      background: #fff; 
      width: 100%; 
      height: 2em; 
      line-height: 2em; 
      text-align: center;
    }
    .timeline li a .count { 
      display: block; 
      position: absolute; 
      bottom: 0; 
      left: 0; 
      height: 0; 
      width: 100%; 
      background: #AAA; 
      text-indent: -9999px; 
      overflow: hidden; 
    }
    .timeline li:hover { 
      background: #EFEFEF; 
    }
    .timeline li a:hover .count { 
      background: #2D7BB2; 
    }
    
    /* SPARKLINES */
    .sparkline { 
      float: left; 
      height: 1em;
      margin: 0 0.5em;
    }
    
    .sparkline .index { 
	    position: relative;
      float: left; 
      width: 2px; 
      height: 100%; 
    }
    .sparkline .index .count { 
      display: block; 
      position: absolute; 
      bottom: 0; 
      left: 0; 
      width: 100%; 
      height: 0; 
      background: #AAA;
      overflow: hidden; 
      text-indent: -9999px;
    }
        
    